html{
    background-color: black;
}
body{
    margin:auto;
    background-color: black;
}

p{
    color: white;
}

#table{
    margin:auto;
}

tr{
}

td{
    background-color: rgb(27, 150, 152);
    height: 50px;
    width: 50px;
}